# Proyectos y cursos

# Node y dependencias
node_modules/
pnpm-lock.yaml
.env
.env.*

# Carpeta de distribución / compilados
dist/


# Sistema y editor (opcional, recomendable)
.DS_Store
Thumbs.db
.vscode/
