<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /mis-plugins-spa/jquery-spa-with-method-load-from-jquery-v4/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /mis-plugins-spa/jquery-spa-with-method-load-from-jquery-v4/index.html [L]
</IfModule>

