/*
    *  ------------------------------------------------------------------------------------  *
    *  -----  _layout-main.scss  --  /src/styles/components/layout/_layout-main.scss  -----  *
    *  ------------------------------------------------------------------------------------  *
 */


@use '../../base/variables' as var;
@use '../../base/mixins' as mix;    


//  -----  Variables  -----
$color-black:       #000000;
$shadow-main-title: 0 2px 4px rgba(0, 0, 0, 0.3);

// Sección img-script
$bg-text:              #c6d6f3;
$border-script:        #34495e;
$bg-script:            #1e1e1e;
$bg-script-track:      #2c3e50;
$bg-script-thumb:      linear-gradient(180deg, #f1c40f, #2980b9);
$bg-script-thumb-hover: linear-gradient(180deg, #f39c12, #3498db);


.layout__main {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__container {
    width: 100%;
    max-width: 102.40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5rem 1rem;
    margin-bottom: 10rem;
}


.main__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    -webkit-text-stroke: .5px black;
    background: var.$bg-title-layout-main;
    border-radius: 50px 50px 0 0;

    @include mix.mobile {
        font-size: 2rem;
    }

    @include mix.tablet {
        font-size: 2.5rem;
    }
}





