/*
    *  --------------------------------------------------------------------------  *
    *  -----  _layout.scss  --  /src/styles/components/layout/_layout.scss  -----  *
    *  --------------------------------------------------------------------------  *
*/


@use '../../base/variables' as var;


html {
    font-size: 10px;
}

body {
    min-width: 100%;
    min-height: 100dvh;
    font-family: var.$font-primary;
    font-style: normal;
    font-size: 1.6rem;
    scroll-behavior: smooth;
}


/*
    ------------------------------
    ----------  Layout  ----------
    ------------------------------
*/

.layout {
    
    width: 100%;
    min-height: 100dvh;

    position: absolute;
    inset: 0;
    
    overflow-x: hidden;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: var.$bg-main;

    opacity: 0;
    transition: opacity 600ms ease-in-out;
}

.layout.fade-in {
    opacity: 1;
    pointer-events: auto;
}


/*  
    ------------------------------
    -----  Estilos Globales  -----
    ------------------------------
*/

.btn__container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

button,
input[type="submit"] {
    padding: 1rem 2rem;
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    box-shadow: 1px 1px 10px #0b4ee833;

    &:hover {
        background-color: rgb(24, 56, 116);
    }
}
