/*
    *  --------------------------------------------------------------------------  *
    *  -----  _loader.scss  --  /src/styles/components/layout/_loader.scss  -----  *
    *  --------------------------------------------------------------------------  *
*/


@use '../../base/variables' as var;
@use '../../base/mixins' as mix;

/*  
    --------------------------------------
    -----  Loader Pantalla Completa  -----  
    --------------------------------------
*/

.loader__container {
     
    contain:layout paint;

    position: fixed;
    inset: 0;
    
    background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #6366f1 100%);
        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    
    z-index: 10000;
    opacity: 1;
    visibility: visible;
    transition: opacity 400ms ease-in-out;
}

.loader__container.fade-out {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.loader__title-main {
    font-size: 2rem;
    font-weight: 600;
    color: var.$color-primary;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 0.5px black;

    @include mix.mobile {
        font-size: 2.5rem;
    }

    @include mix.tablet {
        font-size: 3rem;
    }

    @include mix.desktop {
        font-size: 3.5rem;
    }
}

.spinner {
    width: 15rem;
    height: 15rem;
    border: 10px solid var.$color-primary;
    border-top: 10px solid cornflowerblue;
    border-radius: 100%;
    animation: spin 1s linear infinite;
    will-change: transform;
}

.loader__icon-jquery {
    width: 30rem;
    height: 30rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
