<!--  
    *  --------------------------------------------------------------------------------  *
    *  -----  /layout-footer.html  --  /src/components/layout/layout-footer.html  -----  *
    *  --------------------------------------------------------------------------------  *
-->


<!--  
    ------------------------------
    ----------  FOOTER  ----------
    ------------------------------  
-->
<div class="footer__container">


    <!--
        ---------------------------
        -----  Footer Header  -----
        ---------------------------
    -->

    <header class="footer__header">


        <!--  
            ---------------------------------------------------------------
            -----  Contenedor de los icons y Logos de jQuery y Cursos -----
            ---------------------------------------------------------------
        -->

        <div class="footer__container-icons-logos">


            <!--  -----  Contenedor de los Logos de jQuery -----  -->
            <div class="container-icons-logos__jquery">

                <!--  -----  Contenedor Icon y Logo de jQuery -----  -->
                <div class="jquery__icon-logo">

                    <!--  -----  Logo de jQuery -----  -->
                    <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                        <img class="jquery-logo" src="../../../assets/img/logos/jquery/jquery-logo-100x25.svg"
                            alt="Banner jQuery" width="100" height="25">
                    </a>

                    <!--  -----  Icon de jQuery -----  -->
                    <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                        <img class="jquery-icon" src="../../../assets/img/logos/jquery/jquery-icon-64x64.svg"
                            alt="Logo jQuery" width="64" height="64">
                    </a>

                </div>

            </div>


            <!--  -----  Contenedor de los Logos de los cursos  -----  -->
            <div class="container-logos__cursos container-logos__cursos--first">

                <!--  -----  Logo de Escuela.it -----  -->
                <img class="cursos__logos cursos__logos--escuela-it"
                    src="../../../assets/img/logos/escuelait/escuelait-logo.avif" alt="Logo Escuela.it" width="200"
                    height="200">

            </div>

        </div>



        <!--  
            ---------------------------------------------
            -----  Contenedor del Título del Footer -----
            ---------------------------------------------
        -->

        <div class="footer__container-title">

            <div class="container__title-main container__title-main--first">

                <h1 class="footer__title-main">
                    <a href="#" data-id="home" title=" 🏡Ir a Inicio 🏡" aria-label="Ir a Inicio">
                        &lt; jQuery SPA With Method Load From jQuery v5 /&gt;
                    </a>
                </h1>

            </div>

            <div class="container__title-page">

                <h2 class="footer__title-page" id="footerTitle">
                    <!--  *****  renderizado del título con el plugin de jQuery  *****  -->
                </h2>

            </div>

            <div class="container__title-main container__title-main--last">

                <h3 class="footer__subtitle-main">
                    &lt; Mis Plugins SPA /&gt;
                </h3>

            </div>

        </div>



        <!--  
            ------------------------------------------------------------------
            -----  Contenedor de los Icons y Logos de jQuery UI y Cursos -----
            ------------------------------------------------------------------
        -->

        <div class="footer__container-icons-logos">

            <!--  -----  Contenedor Icon y Logo de jQuery UI  -----  -->
            <div class="container-icons-logos__jquery-ui">

                <!--  -----  Icon y Logo de jQuery UI -----  -->
                <div class="jquery-ui__icon-logo">

                    <!--  -----  icon de GitHub -----  -->
                    <a href="https://github.com/AntoniCut/jquery.antonydev.tech" target="_blank"
                        rel="noopener noreferrer">
                        <img class="github-icon" src="../../../assets/img/logos/github/github-icon.svg"
                            alt="Logo GitHub" width="32" height="32">
                    </a>

                    <!--  -----  Logo de jQuery UI -----  -->
                    <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                        <img class="jquery-ui-logo"
                            src="../../../assets/img/logos/jquery-ui/jquery-ui-logo-1280x325.png" alt="Banner jQuery UI"
                            width="100" height="25">
                    </a>

                    <!--  -----  Icon de jQuery UI -----  -->
                    <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                        <img class="jquery-ui-icon" src="../../../assets/img/logos/jquery-ui/jquery-ui-icon.svg"
                            alt="Logo jQuery UI" width="68" height="59">
                    </a>

                </div>

            </div>


            <!--  -----  Contenedor de los Logos de los cursos  -----  -->
            <div class="container-logos__cursos container-logos__cursos--last">

                <!--  -----  Logos de Escuela.it -----  -->
                <img class="cursos__logos cursos__logos--escuela-it-icon"
                    src="../../../assets/img/logos/escuelait/escuelait-icon.ico" alt="Logo Escuela.it" width="32"
                    height="32">

            </div>

        </div>


    </header>


    <!--
        -------------------------
        -----  Footer Main  -----
        -------------------------
    -->

    <main class="footer__main">


        <!--  
            --------------------------
            -----  list -  HOME  -----  
            --------------------------
        -->
        <ul class="footer__list">

            <li class="footer__list-title">
                <h3> Mis proyectos de jQuery </h3>
            </li>

            <li class="footer__item">
                <a href="/" class="item__link-title">
                    jquery.antonydev.tech
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="home" class="item__link-title">
                    SPA With Method Load From jQuery v4
                </a>
            </li>

            <li class="footer__list-separator"> </li>

        </ul>



        <!--  -----  Lista del menú (HOME)  -----  -->
        <ul class="footer__list">


            <!--  -----  item Home  -----  -->
            <li class="footer__item">
                <a href="#" data-id="home" data-route="route-home">
                    Home
                </a>
            </li>

        </ul>



        <!--  -----  list -  Stack  -----  -->
        <ul class="footer__list">

            <!--  -----  item HTML  -----  -->
            <li class="footer__item">
                <a href="#" data-id="htmlPage" data-route="route-html-page">
                    HTML5
                </a>
            </li>

            <!--  -----  item CSS  -----  -->
            <li class="footer__item">
                <a href="#" data-id="cssPage" data-route="route-css-page">
                    CSS3
                </a>
            </li>

            <!--  -----  item JavaScript  -----  -->
            <li class="footer__item">
                <a href="#" data-id="javascriptPage" data-route="route-javascript-page">
                    JavaScript ES6+
                </a>
            </li>

            <!--  -----  item jQuery  -----  -->
            <li class="footer__item">
                <a href="#" data-id="jqueryPage" data-route="route-jquery-page">
                    jQuery
                </a>
            </li>

            <!--  -----  item jQuery UI  -----  -->
            <li class="footer__item">
                <a href="#" data-id="jqueryUiPage" data-route="route-jquery-ui-page">
                    jQuery UI
                </a>
            </li>

            <!--  -----  item React  -----  -->
            <li class="footer__item">
                <a href="#" data-id="reactPage" data-route="route-react-page">
                    React
                </a>
            </li>

            <!--  -----  item Astro  -----  -->
            <li class="footer__item">
                <a href="#" data-id="astroPage" data-route="route-astro-page">
                    Astro
                </a>
            </li>

        </ul>


    </main>

</div>