/*
    *  ------------------------------------------------------------------------------------  *
    *  -----  _view-transition.scss  --  /src/styles/scss/base/_view-transition.scss  -----  *
    *  ------------------------------------------------------------------------------------  *
 */



@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}
